body{
   background-color: rgb(204, 202, 202);
}


.naslov {

    text-align: center;
    color: rgb(100, 100, 235);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 35px;
    margin-top: 25px;
}

.formula {

    text-align: center;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 25px;
    margin-top: 15px;
    font-style: italic;

}

.slika {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;

}

.p1 {

    color: black;
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-top: 3px;
    font-weight: bold;
}

.naslov2 {

    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

}

li{

    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

}

.naslov3 {

   margin-left: 38px;
   margin-top: 0px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 200;
   font-size: 20.5px;

}

.p2 {

    margin-left: 38px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.p3{

    margin-left: 10px;
    color: rgb(158, 9, 158);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 200;

}

.link {

    text-decoration: none;
    color: #0066CC;
    font-style: italic;

}

.link:hover {

    text-decoration: underline;
    color: #033d77;


}